.login-card{


display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: white;
width: 30vw;
margin-left: 35vw;
height: 80vh;
margin-top: 15vh;
border-radius: 1em;



}


.login-card h1{


    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;

}


.login-card input{


    color: black;
    border-radius: 0.5em;
    font-family: Arial, Helvetica, sans-serif;

    border: 0;
    background-color:  #f0f0f0;
    margin-bottom: 1vh;
    height: 5vh;
    width: 17.5vw;
}


.login-card button{


    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width:80%;
    height: 5vh;
    width: 17.5vw;
    border-radius: 0.5em;
    cursor: pointer;
    border: 0;
    box-shadow: 0px 0px 2px black;
    margin-top: 2vh;


}

.login-card button:hover{


    background-color: hsl(0, 12%, 95%);
}









