.dashboard-wrapper{


width: 100vw;
height: 100vh;
display: flex;



}

.first-dashboard-column{
width: 10%;
height: 100%;
border-right: 1px solid gray;
margin-right: 5%;
}

.main-dashboard-column{
    width: 60%;
    height: 100%;
    
    }

.last-dashboard-column{
    width: 25%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
        
    }

    .last-dashboard-column p{


        color:darkgray;
    }